:root {
  --primaryLightColor: #8af3b6;
  --primaryColor: #53926d;
  --primaryDarkColor: rgb(55, 138, 110);
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
.list-container {
  display: grid;
  width: 90vw;
  margin: 5rem auto;
  max-width: var(--maxWidth);
  background: var(--primaryLightColor);
  border-radius: var(--mainBorderRadius);
  padding: 1.5rem 2rem;
  box-shadow: var(--darkShadow);
  overflow: hidden;
}
.list-container h3 {
  text-align: center;
}
/*
========== 
NavBar
==========
 */
.navbar {
  background: var(--mainWhite);
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--primaryColor);
  box-shadow: var(--lightShadow);
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}
.nav-links a:hover {
  color: var(--primaryColor);
}
.logo {
  width: 4rem;
}
/*
========== 
User
==========
 */
.user {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  align-items: center;
}
.user img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (min-width: 992px) {
  .users-list {
    width: 95vw;
  }
}
.user-selector-list {
  margin-left: 2rem;
  margin-right: 2rem;
  height: 75%;
  width: 75%;
  overflow: hidden;
  overflow-y: scroll;
  min-height: 90px;
}
.user-selector-list-item {
  background: var(--primaryLightColor);
  border-radius: 0.4rem;
  cursor: pointer;
}
.selected {
  background: var(--primaryColor);
}
.user-list-item {
  display: grid;
  grid-template-columns: 19fr 1fr;
  align-items: center;
}
.user-list-item p {
  border-radius: var(--mainBorderRadius);
  font-size: 1.5rem;
  font-weight: 450;
}
.positive-user-balance {
  background: #00b83d7a;
}
.negative-user-balance {
  background: #ff6c6cb0;
}
/*
========== 
Transaction
==========
 */
.transaction {
  position: relative;
  border-radius: var(--mainBorderRadius);
  background: var(--primaryLightColor);
  box-shadow: var(--darkShadow);
}
.transaction-list {
  background: transparent;
  row-gap: 2rem;
  box-shadow: none;
}
.transaction-receiver-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.75rem;
  margin: 1rem;
  align-items: center;
}

.transaction .date {
  margin: 0.5rem;
  position: absolute;
  right: 0;
  width: auto;
  font-size: 1.2rem;
  font-weight: 500;
}
.transaction .time {
  font-weight: 450;
  font-size: 1rem;
  text-align: right;
}
.transaction-description {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.transaction-sender {
  display: grid;
  margin: 1rem;
  row-gap: 0.75rem;
}
.transaction-receiver {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}
.transaction-receiver p {
  margin: 0.5rem;
  font-weight: 450;
}
/*
========== 
Modal
==========
 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: var(--mainTransition);
  visibility: visible;
  z-index: 10;
}
.modal-container {
  display: grid;
  background: var(--mainBackground);
  border-radius: var(--mainBorderRadius);
  width: 90vw;
  height: 60vh;
  max-width: var(--maxWidth);
  place-items: center;
  position: relative;
  overflow: hidden;
}
.modal-container form {
  display: grid;
  margin: 1rem;
  align-items: center;
  justify-items: stretch;
  grid-template-columns: 1fr 2fr;
}
.amount-input {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  grid-area: "input";
}
.modal-container input {
  margin: 1rem;
  font-size: 1.2rem;
}
.close-AddTransactionModal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--mainRed);
  cursor: pointer;
}
.modal-container h3 {
  font-size: 3rem;
  font-weight: 500;
  justify-self: left;
  margin-left: 12%;
}
.modal-container form h4 {
  font-size: 1.3rem;
}
.selected-transaction-party {
  justify-self: start;
  cursor: pointer;
  margin: 0 12%;
}
.modal-content-top-margin {
  margin-top: 4rem;
}
.submit-transaction-btn {
  margin: 2rem 1rem auto;
  width: 10rem;
  height: 2rem;
  border-radius: var(--mainBorderRadius);
  grid-column: span 2;
  justify-self: center;
  background: var(--primaryLightColor);
  transition: var(--mainTransition);
  border: 1px solid var(--primaryColor);
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 550;
  cursor: pointer;
}
.submit-transaction-btn:hover {
  background: var(--primaryColor);
}
/*
========== 
Debt
==========
 */
.debt {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  align-items: center;
  margin-top: 1rem;
  justify-items: center;
  cursor: pointer;
}
.debt p {
  margin: auto 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
/*
========== 
Expense
==========
 */
.expense {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
}
.expense p {
  font-size: 1.2rem;
  font-weight: 500;
}
/*
========== 
Alert
==========
 */
.alert {
  margin: 5rem auto;
  height: auto;
  width: 30vw;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: var(--mainBorderRadius);
  text-transform: capitalize;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}
/*
========== 
Buttons
==========
 */
.add-btn {
  position: fixed;
  top: 6.5rem;
  right: 35%;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 3rem;
  border: 1px solid var(--primaryColor);
  background: var(--primaryLightColor);
  cursor: pointer;
  transition: var(--mainTransition);
  z-index: 1;
}
.add-btn:hover {
  background: var(--primaryColor);
}
